<h1>This is the page explaining our website</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime incidunt ratione ab iusto recusandae necessitatibus saepe iure quaerat sapiente facere. Nesciunt deleniti itaque ea excepturi ex ratione nulla voluptatibus alias.</p>
    <ul>
      <li><%= link_to "learn about us", about_path %></li>
      <li><%= link_to "learn about us", contact_path %></li>
    </ul>
