<!DOCTYPE>
<html>

<body>
  <div styles="background: lightgray; padding: 16px">
    <ul>
      <li><%= link_to "learn about us", about_path %></li>
      <li><%= link_to "learn about us", contact_path %></li>
    </ul>
  </div>
  <%= yield %>
  </body>
